<div class="page-head">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Comment ça marche</h2>
			</div>
		</div>
	</div>
</div>

<div class="items">
	<div class="container">
		<div class="row">
			<!-- redéfinir le block dans les ou c'est necessaire -->
							
			<div class="support container">
			   <div class="row">
				  <div class="col-md-12">
					 <!-- Support -->
					 <div class="support-page well">
						<h5>Principe du site:</h5>
						<hr>
						<div class="clearfix"></div>
						<!-- Lists -->
						<ul id="slist">
						   <!-- List #1 -->
						   <li>
							  <!-- Title -->
							  <a href="#">Fonctionnement</a>
							  <!-- Para -->
							  <p>Inscrivez-vous gratuitement, puis ajouter des livres ou des bandes dessinées à votre catalogue afin de pouvoir les proposer en échange.
							  Ensuite naviguer dans le site pour trouver un livre, une bande dessinée ... qui vous intéresserait et faite une proposition de troc.</p>
						   </li>
						   <li>
							  <a href="#">Informations personnelles</a>
							  <p>Vos informations personnelles (nom, prénom, email) sont confidentielles, elles ne seront transmises qu'à l'utilisateur avec qui vous avez finalisé un échange.</p>
						   </li>
						   <li>
							  <a href="#">Processus de troc</a>
							  <p>Si un exemplaire vous intéresse, cliquer sur le bouton "Je le voudrais", vous pourrez alors proposer en échange des oeuvres de votre catalogue.<br> 
							  Le propriétaire est alors prévenu par email de la proposition, si il accepte vous serez alors directement mis en relation et vos coordonnées seront alors transmises.
							  Ensuite libre à vous de vous rencontrer ou de proceder à l'échange par la poste.</p>
						   </li>
						   <li>
							  <a href="#">Offre d'échange</a>
							  <p>Vous pouvez recevoir des offres de troc de la part d'un utilisateur. Libre à vous d'accepter ou de refuser cette offre.<br>
							  Si vous acceptez vous pourrez alors choisir un exemplaire parmi ceux proposés par votre interlocuteur. Vous recevrez alors les coordonnées du troqueur, et ce dernier recevra les votre.</p>
						   </li>
						   <li>
							  <a href="#">Recherche</a>
							  <p>Un module de recherche est mis à votre disposition. Il y a un formulaire en haut du site. Les recherches s'effectuent par titre de livre ou de bande dessinée.<br>
							  Une recherche avancée permet de faire une recherche par titre, état, artiste, année etc ...</p>
						   </li>
						   <li>
							  <a href="#">Commentaire d'une oeuvre</a>
							  <p>Dans le détails d'une oeuvre, il y a un onglet commentaire dans lequel sont affichés les 10 derniers commentaires postés par les utilisateurs pour l'oeuvre donnée.<br>
							  En mode connecté, vous pouvez ajouter un commentaire sur un livre, une bande dessinée etc ... pour cela il vous suffit de saisir votre commentaire et de noter l'oeuvre de 0 à 5.</p>
						   </li>
						   <li>
							  <a href="#">Question sur les exemplaires</a>
							  <p>Sur la page de détail d'une oeuvre sont listé, sous forme de tableau, tous les exemplaires disponibles. Il est possible de poser une question au détenteur de l'oeuvre ou de lire les questions qui lui on déjà été posées.
							  Pour cela il suffit de cliquer sur le lien "Lire/poser une question" sur la ligne de l'exemplaire. Sur cette page vous pourrez lire les questions et accéder à un formulaire afin de créer la votre.<br>
							  Votre question apparaitra dans la liste une fois que le détenteur de l'oeuvre y aura répondu.</p>
						   </li>
						   <li>
							  <a href="#">Suppression de compte</a>
							  <p>
								Supprimer son compte est très simple. En mode connecté, aller dans l'onglet "Mon compte &gt; mon profil &gt; supprimer mon compte ". La suppression est complète, nous ne conservons aucune donnée personnelle.<br>
								Nous conservons l'historique de vos échanges mais en vous remplaçant par un utilisateur anonyme crée spécialement à cet effet.</p>
						   </li>
						   <li>
							  <a href="#">Tout est gratuit</a>
							  <p>Le site est entièrement gratuit et sans publicités, il n'y a aucune limitation quant au nombre d'échanges effectués</p>
						   </li>
						</ul>
					 </div>
				  </div>
			   </div>
			</div>
		</div>
	</div>
</div>