<% provide(:title, "Acceuil") %>
<div class="page-head">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Bienvenue sur culture troc</h2>
				<h4>Site d'échange de livres et de bandes dessinées 100% gratuit</h4>
			</div>
		</div>
	</div>
</div>

<div class="items">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 hidden-xs">
				<h5 class="title">Categories</h5>
				<!-- Sidebar navigation -->
				<nav>
					<ul id="nav">
						<li><a href="#">Livre</a></li>
						<li><a href="#">Bande dessinée</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

	


