<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-5">
						<div class="widget">
							<h5>Contact</h5>
							<hr />
							<i class="icon-envelope-alt"></i> &nbsp; <a href="mailto:administrateur@culturetroc.fr?subject=Culture Troc - demande d'informations">administrateur@culturetroc.fr</a>
						</div>
					</div>
					
					<div class="col-md-7">
						<div class="widget">
							<h5>A propos</h5>
							<hr />
							<p>Culture troc est un site d'échange de produits culturels complètement gratuit.<br/>
							Vous pouvez échanger gratuitement des livres, bande dessinées etc ... N'hésitez pas à vous inscrire.</p> 
						</div>
					</div>
				</div>
				<hr />
				<!-- Copyright info -->
				<p class="copy">Copyright &copy; 2015 | CultureTroc - <a href="#">Accueil</a> | <a href="#">FAQ</a> | <a href="#">Contactez-nous</a></p>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</footer> 