<header>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="logo">
					<h1><a href="#">Culture<span class="color bold">Troc</span></a></h1>
					<p class="meta">Plateforme de troc</p>
				</div>
			</div>
			
			<div class="col-md-6 col-md-offset-2">
				<!-- Search form -->
				<form class="form-inline" role="form" action="" method="POST">
					<div class="form-group">
						<input type="text" class="form-control" name="front-recherche" id="front-accueil-search" maxlength="50" autocomplete="off" placeholder="Rechercher">
					</div>
					<input type="hidden" name="front-recherche-id" id="front-accueil-search-id" value="Livre">
					<div class="btn-group">
						<button type="button" style="background-color:#fff!important;"class="btn btn-default dropdown-toggle" id="search-button-change" data-toggle="dropdown" aria-expanded="false">
							Livre <span class="caret"></span>
						</button>
						<ul class="dropdown-menu"  role="menu">
							<li><a href="#" class="change-drop-down" id="drop-down-livre">Livre</a></li>
							<li><a href="#" class="change-drop-down" >Bande dessinée</a></li>
						</ul>
					</div>
					<button type="submit" class="btn btn-default">Rechercher</button>
				</form>
								
				<div class="hlinks">
					<span class="lr">
							<!-- culture_troc_front_office_inscription-->
							<a  href="#"><strong>Connexion</strong></a>
							ou
							<a href="#"><strong>Inscription</strong></a>
					</span>
					
					<a href="#" class="link-recherche-avancee">Recherche avancée</a>
					
				</div>				
			</div>
		</div>
	</div>
</header>