<!-- Navigation -->
<div class="navbar bs-docs-nav" role="banner">
   <div class="container">
      <div class="navbar-header">
      	<!-- Utile pour le responsive -->
      	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
	         <span class="sr-only">Toggle navigation</span>
	         <span class="icon-bar"></span>
	         <span class="icon-bar"></span>
	         <span class="icon-bar"></span>
         </button>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
         <ul class="nav navbar-nav">
         
            <li><a class="general-active" href="#"><i class="icon-home"></i></a></li>
				
		
            <li><a href="#">Livre</a></li>
            
           
            <li><a href="#">Bande dessinée</a></li>
            
           
            <li><a href="#">Film</a></li>
            
            <li class="dropdown">
				      <a data-toggle="dropdown" class="dropdown-toggle" href="#">Ajouter <b class="caret"></b></a>
				      <ul class="dropdown-menu">
      					<li><a href="">Livre</a></li>
      					<li><a href="">Livre par ISBN</a></li>
      					<li><a href="">Bande Dessinée</a></li>
      					<li><a href="">Film</a></li>
      				</ul>
      			</li>
   
          <li><a href="#">Artistes</a></li>
          <li><a href="#">Mon compte</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contact</a></li>
         </ul>
      </nav>
   </div>
</div>